@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("www.instagram.com") {

  ._2v79o {
    background-color: #FCF5DD;
}

  ._tpnch {
    background-color: #FF9292;
  }

  ._iadoq, ._iadoq:visited {
    color: #FF3838
  }

  a, a:visited {
    color: #FF3838
  }

  ._95hvo, ._95hvo:visited {
    color: #FF3838;
}

  span {
    color: #FF3838;
  }

  ._nzn1h, ._nzn1h:visited {
    color: #FF3838;
}

._9dpug {

    border-bottom: 1px solid #FF9292;
    background-color: #FF9292;

}
}
